<head>
	<title>Raj ChatBot</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css.map">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<body>
	<header >
		<section class="hero">
  <div class="hero-body">
    <div >
    	<img src="static/logo.png" style="height: 100px; width: 100px;">
      <h1 class="title">
      	{% if current_user.is_authenticated  %}
       		<h1>Welcome {{current_user.name}}</h1>
       	{% else %}
       		Welcome to Raj Chatbot
       	{% endif %}
        
      </h1>
      <h2 class="subtitle">
      	A simple AIML chatbot
      </h2>
    </div>
  </div>
</section>
<div id="navbarMenuHeroC" class="navbar-menu">
          
          {% if current_user.is_authenticated %}
          		<span class="navbar-item">
              <a class="button is-success is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span><a href="/logout">Logout</a></span>
              </a>
            </span>
            
          	{% else %}
          	<div class="navbar-end">

            <a class="navbar-item is-active" href="/signup">
            	sign up
            </a>
            <a class="navbar-item" href="/signin">
              Sign in
            </a>
            <a class="navbar-item" href="/about">
              About My Creator
            </a>
            
          </div>
          	{% endif %}	
          
	</header>
	<div>
		
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul class="notification is-primary">
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
	</div>

	